@import "../../../Styles/color";
.Friend-div {
  display: flex;
  gap: torem(20px);
  font-family: roboto;
  font-size: torem(14px);
  align-items: center;
  background-color: white;
  padding: torem(20px);
  border-radius: 10px;
  position: relative;
  img {
    width: torem(50px);
    height: torem(50px);
    object-fit: cover;
    border-radius: 50%;
  }
}
.activeFriend {
  position: absolute;
  width: torem(15px);
  top: torem(55px);
  left: torem(50px);
  height: torem(15px);
  border-radius: 50%;
  background-color: greenyellow;
}
.TypingStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: torem(5px);
  position: absolute;
  right: 0;
  padding-right: torem(20px);
  text-align: end;
  font-size: torem(12px);
}
