@import "../../../Styles/color";
.FriendCircle-div {
  font-family: roboto;
  .FriendCircle__p {
    font-size: torem(12px);
  }
  input {
    width: 100%;
    height: torem(30px);
    box-sizing: border-box;
    padding-left: torem(5px);
    margin-bottom: torem(20px);
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: gainsboro;
  }
}
