@import "../../../Styles/color";
.FriendCircle-div__wrapper {
  position: sticky;
  top: torem(70px);
  height: 80vh;
}

.FriendCircle-div {
  input {
    width: 100%;
    height: torem(30px);
    box-sizing: border-box;
    padding-left: torem(5px);
    margin-bottom: torem(20px);
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: gainsboro;
  }
}
