@import "../../../Styles/color";
.NewPostTextField-div {
  display: flex;
  height: 100%;
  flex-direction: column;
  .textArea {
    border: none;
    height: torem(40px);
    outline: none;
    word-wrap: break-word;
    padding: torem(20px);
    padding-left: 0px;
    color: gray;
  }
  .addPhoto {
    background-color: rgb(193, 193, 193);
    height: 100px;
    border: 2px dashed #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-size: torem(12px);
      font-family: roboto;
      color: gray;
    }
  }
}
