@import "../../../../Styles/color";
.HeaderUserLinks-div {
  display: flex;
  align-items: center;
  gap: torem(10px);
  justify-self: flex-end;
  img {
    width: torem(50px);
    height: torem(50px);
    border-radius: 50%;
    object-fit: cover;
  }
  .navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: torem(40px);
    background-color: rgb(192, 191, 191);
    height: torem(40px);
    border-radius: 50%;
    font-size: torem(20px);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .active {
      color: $myblue;
    }
  }
}

.notificationBtn,
.messageBtn {
  a {
    position: relative;
    p {
      background-color: red;
      width: torem(15px);
      height: torem(15px);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: torem(12px);
      color: white;
      font-weight: 700;
      position: absolute;
      left: torem(15px);
      top: torem(15px);
    }
  }
}
