@import "../../Styles/color";
.MyFriendsPage-div {
  .iContainer {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: torem(30px);
    }
  }
}

.nofriend {
  font-family: roboto;
  font-size: torem(20px);
  display: flex;
  height: calc(100vh - torem(80px));
  align-items: center;
  justify-content: center;
  img {
    width: 30vw;
  }
}
