@import "../../Styles/color";
.NotificationPage-div {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    padding: torem(15px);
    font-family: roboto;
    font-size: torem(16px);
    color: gray;
  }
  button {
    align-self: flex-end;
    margin-bottom: 5px;
    font-family: roboto;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: $myblue;
    padding: 5px;
    width: fit-content;
  }
}
