@import "../../../../Styles/color";
.LikeCommentShareBTNGroup-div {
  display: flex;
  align-items: center;
  margin-top: torem(10px);
  justify-content: space-between;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    background-color: white;
    border: none;
    width: 100%;
    height: torem(25px);
    font-size: torem(16px);
    font-weight: 500;
    color: gray;
  }
}
