@import "../../../Styles/color";
.ProfilePageHeader-div {
  display: flex;
  font-family: roboto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .leftSide {
    display: flex;
    gap: torem(20px);
    align-items: center;
    img {
      width: torem(200px);
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: torem(5px);
      .profileName {
        font-weight: 500;
        font-size: torem(50px);
        i {
          margin-left: torem(10px);
          color: $myblue;
        }
      }
      .friendCount {
        font-size: torem(16px);
      }
    }
  }
  .rightSide {
    display: flex;
    gap: torem(20px);
    position: absolute;
    right: torem(10px);
    bottom: torem(10px);
    button {
      font-family: roboto;
      padding: torem(10px);
      border: none;
      font-weight: 500;
      border-radius: torem(5px);
      &:last-child {
        color: white;
        background-color: $myblue;
      }
    }
  }
}

.leftSide_img {
  display: flex;
  align-items: center;
  position: relative;
  i {
    font-size: torem(30px);
    color: $myblue;
    background-color: gainsboro;
    border-radius: 50%;
    position: absolute;
    padding: torem(5px);
    bottom: torem(5px);
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ProfilePageHeader-div {
    min-height: 80px;
    .leftSide {
      img {
        width: 50px;
      }
      div {
        .profileName {
          font-size: torem(20px);
        }
        .friendCount {
          font-size: torem(12px);
        }
      }
    }
    .rightSide {
      button {
        padding: torem(5px);
      }
    }
  }
}
