@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500&display=swap");
@import "../Styles/color";
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: toper(16);
}

.pageContainer {
  background-color: #e0e0e0;
  margin: 10px;
}

.container {
  background-color: white;
  padding: 10px;
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html {
    font-size: toper(12);
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
  html {
    font-size: toper(15);
  }
}
/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {
  html {
    font-size: toper(10);
  }
}
