@import "../../../../Styles/color";
.PostImages-div {
  display: flex;
  margin-top: torem(10px);
  border-radius: torem(10px);
  justify-content: center;
  align-items: center;
  background-color: $mygrey;
  img {
    max-width: 50%;
    max-height: torem(400px);
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .PostImages-div {
    img {
      width: 100%;
    }
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
}
/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {
}
