@import "../../../../Styles/color";
.PostComment-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: torem(13px);
  background-color: white;
  padding: torem(20px) torem(5px);
  .PostComment-div__commentMessage {
    padding-left: torem(50px);
    font-family: roboto;
  }
}
