@import "../../../Styles/color";
.PostContainer-div {
  .homeInputBar {
    display: flex;
    align-items: center;
    p {
      font-size: torem(12px);
      padding-left: torem(10px);
      font-family: roboto;
      color: gray;
    }
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .PostContainer-div {
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
  .PostContainer-div {
    width: 100%;
  }
}
