@import "../../Styles/color";
.LoadingPage-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: $myblue;
    font-size: 70px;
  }
  background-color: white;
}
