@import "../../Styles/color";
.EditProfilePage-div {
  font-family: roboto;
  display: flex;
  flex-direction: column;
  gap: torem(10px);
}

.EditProfilePage-div__top_container {
  font-size: torem(30px);
  font-family: roboto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditProfilePage-div__conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: torem(10px);
}
.EditProfilePage-div__imgContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: torem(5px);
  img {
    border-radius: torem(10px);
    object-fit: contain;
    width: torem(300px);
  }
  .chooseProfileImg {
    display: flex;
    border-radius: torem(5px);
    background-color: grey;
    align-items: center;
    position: relative;
    justify-content: center;
    p {
      font-size: torem(12px);
      position: absolute;
      color: white;
    }
    input {
      cursor: pointer;
      z-index: 100;
      position: relative;
      width: torem(200px);
      opacity: 0;
    }
  }
}
.EditProfilePage-div__inputBox__container {
  display: flex;
  gap: torem(10px);
  flex-direction: column;
}
.EditProfilePage-div__btnContainer {
  display: flex;
  gap: torem(20px);
  justify-content: space-between;
  align-items: center;
  p {
    font-size: torem(12px);
    color: gray;
  }
  div {
    display: flex;
    gap: torem(20px);
    button {
      padding: torem(10px) torem(30px);
      border: none;
      font-family: roboto;
      color: white;
      font-size: torem(16px);
      font-weight: 600;
      border-radius: torem(10px);
      &:first-child {
        background-color: $myblue;
      }
      &:last-child {
        background-color: gray;
      }
    }
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .EditProfilePage-div__conatiner {
    display: flex;
    flex-direction: column;
  }
}
