@import "../../../Styles/color";
.Notification-div {
  font-family: roboto;
  margin-bottom: torem(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: torem(12px);
}
