@import "../../../Styles/color";
.ChatBox-div {
  margin-top: torem(10px);
  display: flex;
  flex-direction: column;
  gap: torem(5px);
  overflow: scroll;
  height: 67vh;
  .iContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    i {
      font-size: torem(50px);
    }
  }
}
.ChatBox-div::-webkit-scrollbar {
  display: none;
}

.noChatPresnet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: torem(10px);
  font-family: roboto;
  h1 {
    font-size: torem(30px);
  }
  img {
    width: torem(100px);
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ChatBox-div {
    height: 57vh;
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
  .ChatBox-div {
    height: 70vh;
  }
}
